<%= javascript_include_tag "https://code.jquery.com/jquery-1.12.4.js" %>
<%= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js" %>



<h1>Results for Fighters</h1>

<%= form_for :fighters, url: fighters_search_path do |f| %>

  <%= f.submit "search" %>
<% end %>

<% @data.each do |result| %>
<div class="fighter">
  <h2><%= result[:first_name] %> <%= result[:last_name] %> </h2>
    <%= image_tag result[:image] %> <br />
  Weight Class: <%= result[:weight_class] %> <br />
  Wins: <%= result[:wins] %> <br />
  Losses: <%= result[:losses] %> <br />

  <%= form_for :fighter, url: fighters_path, method: "post" do |f| %>
    <%= f.hidden_field :first_name, value: result[:first_name] %>
    <%= f.hidden_field :last_name, value: result[:last_name] %>
    <%= f.hidden_field :weight_class, value: result[:weight_class] %>
    <%= f.hidden_field :image, value: result[:image] %>
    <%= f.hidden_field :wins, value: result[:wins] %>
    <%= f.hidden_field :losses, value: result[:losses] %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.submit "Save Fighter" %>
  <% end %>


<% end %>

</div>
