
<%= stylesheet_link_tag "fights.css" %>
<h1>Saved Fighters</h1>

<%= button_to("Search for a Fighter", fighters_search_path, method: 'get') %>

<% @fighters.each do |fighter| %>
<div class="fighter">
<h3>  <%= link_to(fighter[:full_name], fighter_path(fighter)) %> </h3>

<% if fighter[:title_holder] %>
<h3><%= fighter[:weight_class] %> Champion</h3>
  <%= image_tag fighter[:belt_thumbnail] %> <br />
<% else %>
  <%= image_tag fighter[:image] %> <br />
<% end %>
  Status: <%= fighter[:status] %> <br />
  Weight Class:  <%= fighter[:weight_class] %> <br />
  <%= fighter[:wins] %> WINS /  <%= fighter[:losses] %> LOSSES / <%= fighter[:draws] %> DRAWS<br />
<br />

  <%= button_to('Delete '+fighter[:first_name]+' '+fighter[:last_name], fighter, :method => 'delete') %>
</div>
<% end %>
