
<h1>Saved Events</h1>

<%= button_to("Search for Fight Card Events", controller: "fight_cards", action: "search", start_date: @date) %>

<%= @user %>
<div class="simple_calendar">
<%= month_calendar events: @fights do |date, fights| %>
  <%= date.day %>

  <% fights.each do |fight| %>
    <div>
      <h3><%= link_to(fight.title, fight) %></h3>
      <h5><%= fight.tagline %> <h5>
      <%= fight.start_time %>
    </div>
  <% end %>
<% end %>
</div>
