
<h1>Saved Fights</h1>

<div class="fighter">
  <h2><%= @fight["title"] %> </h2>
  <h3><%= @fight[:tagline] %> </h3>
  <%= image_tag @fight[:image] %> <br /><br />
  <%= @fight[:start_time] %> <br /><br />
  <%= link_to("Buy Tickets", @fight[:ticket_url] ) %> <br /><br />
<br />
    <%= button_to('Delete', @fight, :method => 'delete') %>
</div>
