<%= stylesheet_link_tag "event_calendar.css" %>
<%= stylesheet_link_tag "application.css" %>
<body>
  <div class="content">
    <nav>
      <ul>
        <li><%= image_tag("Logo-2.png") %></li>
        <li class="box"><%= link_to("Fights", fights_path) %></li>
        <li class="box"><%= link_to("Search Fights", fights_search_path) %></li>
        <li class="box"><%= link_to("Fighters", fighters_path) %></li>
        <li class="box"><%= link_to("Search Fighters", fighters_search_path) %></li>
        <li class="box"><%= link_to("Logout", logout_path, method: "delete", class: "logout") %></li>
      </ul>
    </nav>
<div class="container">


<h1> Fights</h1>
<div class="simple_calendar">
<%= month_calendar events: @results do |date, results| %>
  <%= date.day %>

  <% results.each do |result| %>
    <div>
      <h3><%= result[:title] %> </h3>
      <h5><%= result[:tagline] %> </h5>
      <%= result[:date] %>

    <%= form_for :fight, url: fights_path do |f| %>
      <%= f.hidden_field :fight_id, value: result[:fight_id] %>
      <%= f.hidden_field :title, value: result[:title] %>
      <%= f.hidden_field :tagline, value: result[:tagline] %>
      <%= f.hidden_field :date, value: result[:date] %>
      <%= f.hidden_field :start_time, value: result[:start_time] %>
      <%= f.hidden_field :end_time, value: result[:end_time] %>
      <%= f.hidden_field :arena, value: result[:arena] %>
      <%= f.hidden_field :image, value: result[:image] %>
      <%= f.hidden_field :ticket_url, value: result[:ticket_url] %>
      <%= f.submit "Save Fight Card" %>
    </div>
    <% end %>
  <% end %>
<% end %>
</div>


</div>
</div>
</body>
</html>
