<!DOCTYPE html>
<html>
  <head>
    <title>MmaApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "event_calendar.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag "https://code.jquery.com/jquery-1.12.4.js" %>

  <%= javascript_include_tag 'autocomplete', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
    <nav>
      <ul>
        <li class="logo"><%= image_tag("Logo-2.png") %></li>
        <li class="box"><%= link_to("Fights", fights_path) %></li>
        <li class="box"><%= link_to("Search Fights", fights_search_path) %></li>
        <li class="box"><%= link_to("Fighters", fighters_path) %></li>
        <li class="box"><%= link_to("Search Fighters", fighters_search_path) %></li>
        <li class="box"><%= link_to("Logout", logout_path, method: "delete", class: "logout") %></li>
      </ul>
    </nav>
<div class="container">
    <%= yield %>
</div>
</div>
  </body>
</html>
